@font-face {
  font-family: Spartan_400;
  src: url("Spartan/Spartan-VariableFont_wght.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Spartan_500;
  src: url("Spartan/Spartan-VariableFont_wght.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Spartan_700;
  src: url("Spartan/Spartan-VariableFont_wght.ttf");
  font-weight: 700;
  font-style: normal;
}

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --soft-pink: hsl(333, 80%, 67%);  
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1440px;
    margin: auto;
    
    
}

.inner-container {
    display: flex;
    flex-flow: row wrap;
    width: 70vw;
    height: 40vw;
}

.left-flex {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
}

.container {
    width: 360px;
}

.right-flex {  
    flex: 0 0 50%;
    width: 200px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.highlights{
    background-color: var(--light-grayish-magenta);
    margin: 10px;
    padding: 15px;
    width: 360px;
    color: var(--very-dark-magenta);
    font-family: Spartan_500;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
}

.right-flex div:first-of-type {
    align-self:flex-start;
}

.right-flex div:nth-of-type(2) {
    align-self:center;
}

.right-flex div:last-of-type {
    align-self:flex-end;
}


.bottom-flex {
    flex: 1 0 100%;
    display: flex;
    justify-content: space-between;
}

.review{
    background-color: var(--very-dark-magenta);
    border-radius: 10px;
    width: 32%;
    height: 220px;
    color: var(--light-grayish-magenta);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.review:first-of-type{
    align-self: flex-start;
}
.review:nth-of-type(2){
    align-self: center;
}
.review:last-of-type{
    align-self: flex-end;
}

.review div:first-of-type{
    flex: 0 0 45%;
    text-align: center;
}
.review div:nth-of-type(2){
    flex: 1;
}

.review div:nth-of-type(2) p:last-of-type{
    color: var(--soft-pink)
}

.person p{
    margin:0px;
}

.review div:last-of-type{
    width: 80%;
    height: 50%;
}

img{ 
    border-radius: 50px;
}

.secondary{
     color: var(--dark-grayish-magenta);
}


.huge-text {
  font-family: Spartan_700;
  font-weight: 700;
  font-size: 42px;
  color:var(--very-dark-magenta);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px){

    .outer-container{
        display: block;
        max-width: 375px;
    }

    .inner-container{
        max-width: inherit;
        width: 100vw;
        display: block;
        margin: auto;
        text-align: center;
    }

    .left-flex{
        text-align: center;
    }

    .right-flex{
        display: flex;
        flex-flow: column wrap;
        width: 90%;
    }

    .highlights{
        align-self: center;
        display: block;
        width: 100%;
        padding: 15px 0;
    }
    .highlights div{
        padding: 5px 0;
    }

    .bottom-flex {
        display: flex;
        flex-flow: column wrap;
        
    }

    .review {
        margin-bottom: 20px;
        width: 90%;
    }

    .review:first-of-type{
        align-self: center;
    }
    .review:nth-of-type(2){
        align-self: center;
    }
    .review:last-of-type{
        align-self: center;
    }

    .review div:last-of-type{
        width: 80%;
        height: 50%;
        text-align: left;
    }

    .person {
        margin-left: -100px;
    }

    
}